.message {
    padding: 1em;
    border-radius: 3px;
    background-color: #505393;
    color: #d3d4e4;
}

.userName {
    padding-right: 2em;
    border-right: 1px solid  rgba(255, 255, 255, 0.5);
}

.validation-error {
    color: #ed4933;
    padding-top: 0.5em;
}

.earnings-box {
    border-radius: 3px;
    border: solid 2px #21b2a6;
    margin-bottom: 2em;
    padding: 1.5em;
}

.wrapper > .inner-full {
    width: 100%
}

@media screen and (max-width: 1680px) {

		.row.uniform > .split-right {
			padding: 1.5em 1.5em 0 1.5em;
		}

}

@media screen and (max-width: 980px) {

		.row.uniform > .split-right {
			padding: 1.5em 0 0 1.5em;
		}

}
